<footer class="page-footer">
    <div class="container">
        <div class="page-footer__top-row">
            <a href="#" class="page-footer__logo">
                <img src="img/logo-dark.svg" alt="" class="page-footer__logo-image">
            </a>
            <div class="page-footer__content">
                <div class="page-footer__copyright">
                    <p>
                        Все права на публикуемые на сайте материалы принадлежат Legato. Любая информация, представленная
                        на данном сайте, носит исключительно информационный характер и ни при каких условиях не является
                        публичной офертой, определяемой положениями статьи 437 ГК РФ.
                    </p>
                </div>
                <div class="page-footer__contacts-block">
                    <a href="tel:+74951299226" class="page-footer__phone-link">
                        +7 (495) 129-92-26
                    </a>
                    <div class="page-footer__phone-link-text">
                        Звонок бесплатный
                    </div>
                    <a href="#" class="page-footer__whats-app-link">
                        <svg width="14" height="14" aria-hidden="true" class="icon-whatsapp">
                            <use xlink:href="#whatsapp"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="page-footer__bottom-row">
            <a href="#" class="page-footer__bottom-link">
                Политика конфиденциальности
            </a>
            <a href="#" class="page-footer__bottom-link">
                Условия использования
            </a>
            <a href="#" class="page-footer__made-by">
                Создание сайта
                <img src="img/mark-weber.svg" alt="" class="page-footer__made-by-image">
            </a>
        </div>
    </div>
</footer>