<header class="page-header">
    <div class="container">
        <div class="page-header__row">
            <a href="#" class="page-header__logo">
                <img src="img/logo-white.svg" alt="" class="page-header__logo-image">
                <img src="img/logo-dark.svg" alt="" class="page-header__logo-image">
            </a>
            <div class="page-header__menu">
                <nav class="page-header__nav">
                    <a href="#" class="page-header__nav-link">
                        Описание
                    </a>
                    <a href="#" class="page-header__nav-link">
                        Применение
                    </a>
                    <a href="#" class="page-header__nav-link">
                        Виды
                    </a>
                    <a href="#" class="page-header__nav-link">
                        Выбрать толщину
                    </a>
                    <a href="#" class="page-header__nav-link">
                        Внешний вид
                    </a>
                    <a href="#" class="page-header__nav-link">
                        Свойства
                    </a>
                    <a href="#" class="page-header__nav-link">
                        Расчет стоимости
                    </a>
                    <a href="#" class="page-header__nav-link">
                        Отзывы
                    </a>
                </nav>
            </div>
            <div class="page-header__contacts-block">

                <a href="tel:+74951299226" class="page-header__phone-link">+7 (495) 129-92-26</a>
                <p class="page-header__phone-link-text">
                    Звонок бесплатный
                </p>
                <a href="#" class="page-header__whats-app-link">
                    <svg width="14" height="14" aria-hidden="true" class="icon-whatsapp">
                        <use xlink:href="#whatsapp"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</header>