<header class="page-header">
    <div class="container">
        <div class="page-header__row">
            <div class="menu">
                <span></span><span></span>
            </div>
            <a href="#" class="page-header__logo">
                <img src="img/logo-white.svg" alt="" class="page-header__logo-image">
                <img src="img/logo-dark.svg" alt="" class="page-header__logo-image">
            </a>
            <div class="page-header__menu">
                <div class="page-header__menu-inner">
                    <div>
                        <img src="img/logo-dark.svg" alt="" class="page-header__menu__heading-logo">
                        <div class="page-header__menu-close">&#10006;</div>
                    </div>
                    <nav class="page-header__nav">
                        <a href="#" class="page-header__nav-link" data-text="Описание">
                            <div>Описание</div>
                        </a>
                        <a href="#" class="page-header__nav-link" data-text="Применение">
                            <div>Применение</div>
                        </a>
                        <a href="#" class="page-header__nav-link" data-text="Виды">
                            <div>Виды</div>
                        </a>
                        <a href="#" class="page-header__nav-link" data-text="Выбрать толщину">
                            <div>Выбрать толщину</div>
                        </a>
                        <a href="#" class="page-header__nav-link" data-text="Внешний вид">
                            <div>Внешний вид</div>
                        </a>
                        <a href="#" class="page-header__nav-link" data-text="Свойства">
                            <div>Свойства</div>
                        </a>
                        <a href="#" class="page-header__nav-link" data-text="Расчет стоимости">
                            <div>Расчет стоимости</div>
                        </a>
                        <a href="#" class="page-header__nav-link" data-text="Отзывы">
                            <div>Отзывы</div>
                        </a>
                    </nav>
                    <div class="page-header__contacts-block">

                        <a href="tel:+74951299226" class="page-header__phone-link">+7 (495) 129-92-26</a>
                        <p class="page-header__phone-link-text">
                            Звонок бесплатный
                        </p>
                        <a href="#" class="page-header__whats-app-link">
                            <svg width="14" height="14" aria-hidden="true" class="icon-whatsapp">
                                <use xlink:href="#whatsapp"></use>
                            </svg>
                        </a>
                    </div>

                </div>
            </div>
            <div class="page-header__contacts-block">

                <a href="tel:+74951299226" class="page-header__phone-link">+7 (495) 129-92-26</a>
                <p class="page-header__phone-link-text">
                    Звонок бесплатный
                </p>
                <a href="#" class="page-header__whats-app-link">
                    <svg width="14" height="14" aria-hidden="true" class="icon-whatsapp">
                        <use xlink:href="#whatsapp"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</header>