{{#extend "layout"}}
{{#content "main"}}


<section class="intro">
    <div class="intro__bg">
        <img src="img/intro-bg.jpg" alt="" class="intro__bg-image">
        <img src="img/intro-bg-blurred.jpg" alt="" class="intro__bg-image intro__bg-image--blurred">

    </div>
    <div class="container">
        <div class="intro__content">
            <div class="intro__text-content">
                <h2 class="intro__heading">
                    Мягкое стекло на стол — силиконовая скатерть «‎Гибкое стекло»
                </h2>
                <div class="intro__buttons">
                    <a href="#to-calculator" class="btn intro__calculate-btn">
                        Рассчитать стоимость
                    </a>
                    <a href="#" class="intro__get-consultation js-modal-open">
                        <svg width="14" height="14" aria-hidden="true" class="icon-question">
                            <use xlink:href="#question"></use>
                        </svg>
                        <span>Получить консультацию</span>
                    </a>
                </div>
            </div>

            <ul class="intro__features-list">
                <li class="intro__features-list-item">
                    <div class="intro__features-card">
                        <img src="img/features-icons/1.svg" alt="" class="intro__features-icon">
                        <div class="intro__features-card-text">
                            Сохраним новизну вашего стола на&nbsp;20&nbsp;лет
                        </div>
                    </div>
                </li>
                <li class="intro__features-list-item">
                    <div class="intro__features-card">
                        <img src="img/features-icons/2.svg" alt="" class="intro__features-icon">
                        <div class="intro__features-card-text">
                            Поможем выбрать размер скатерти
                        </div>
                    </div>
                </li>
                <li class="intro__features-list-item">
                    <div class="intro__features-card">
                        <img src="img/features-icons/3.svg" alt="" class="intro__features-icon">
                        <div class="intro__features-card-text">
                            Зищитим любую поверхность от цараин и сколов
                        </div>
                    </div>
                </li>
                <li class="intro__features-list-item">
                    <div class="intro__features-card">
                        <img src="img/features-icons/4.svg" alt="" class="intro__features-icon">
                        <div class="intro__features-card-text">
                            Доставим в любой город России
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>


<section class="photo-comparison">
    <div class="container">
        <div class="photo-comparison__card">
            <div class="photo-comparison__card-col">
                <div class="photo-comparison__card-content">


                    <h2 class="section-heading photo-comparison__heading">
                        Cиликоновая скатерть — прозрачная защита для мебели
                    </h2>
                    <div class="photo-comparison__text">
                        <p>
                            Силиконовая скатерть «гибкое стекло» - современная зашита вашего стола! Прозрачная скатерть
                            даст
                            защиту вашей мебели от скалываний, загрязнений и царапин. Больше не нужно прятать красивую
                            мебель, чтобы ее защитить!
                        </p>
                    </div>
                    <a href="#to-calculator" class="btn photo-comparison__link">
                        Рассчитать стоимость
                    </a>
                </div>
            </div>
            <div class="photo-comparison__card-col">
                <div class="photo-comparison__slider js-photo-comparison-slider" style="--percentage-shown: 0.5;">
                    <figure class="cd-image-container">
                        <img src="img/image-after.jpg" alt="Original Image" class="cd-image-original">

                        <div class="cd-resize-img">

                            <img src=" img/image-before.jpg" alt="Modified Image" class="cd-image-modified">

                        </div>

                        <div class="cd-handle-wrapper">
                            <div class="cd-handle">
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                                    <use xlink:href="#arrow-left"></use>
                                </svg>
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                        </div>

                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="fullscreen-gallery js-fullscreen-gallery">
    <div class="fullscreen-gallery__bg-slider">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="fullscreen-gallery__bg-slider-card">
                        <img src="img/fullscreen-slider/1.jpg" alt="" class="fullscreen-gallery__bg-slider-card-image">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="fullscreen-gallery__bg-slider-card">
                        <img src="img/fullscreen-slider/2.jpg" alt="" class="fullscreen-gallery__bg-slider-card-image">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="fullscreen-gallery__bg-slider-card">
                        <img src="img/fullscreen-slider/1.jpg" alt="" class="fullscreen-gallery__bg-slider-card-image">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="fullscreen-gallery__bg-slider-card">
                        <img src="img/fullscreen-slider/2.jpg" alt="" class="fullscreen-gallery__bg-slider-card-image">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="fullscreen-gallery__bg-slider-card">
                        <img src="img/fullscreen-slider/1.jpg" alt="" class="fullscreen-gallery__bg-slider-card-image">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="fullscreen-gallery__content">
            <h2 class="section-heading fullscreen-gallery__heading">
                Cиликоновая скатерть<br>
                впишется в любой интерьер
            </h2>
            <div class="fullscreen-gallery__categories">
                <a href="#" class="fullscreen-gallery__categories-link">
                    <svg width="14" height="14" aria-hidden="true" class="icon-kitchen-desk">
                        <use xlink:href="#kitchen-desk"></use>
                    </svg>
                    <h4 class="fullscreen-gallery__categories-link-title">
                        Кухонные<br>столы
                    </h4>
                </a>
                <a href="#" class="fullscreen-gallery__categories-link">
                    <svg width="14" height="14" aria-hidden="true" class="icon-writing-desk">
                        <use xlink:href="#writing-desk"></use>
                    </svg>
                    <h4 class="fullscreen-gallery__categories-link-title">
                        Письменные<br> столы
                    </h4>
                </a>
                <a href="#" class="fullscreen-gallery__categories-link">
                    <svg width="14" height="14" aria-hidden="true" class="icon-work-desk">
                        <use xlink:href="#work-desk"></use>
                    </svg>
                    <h4 class="fullscreen-gallery__categories-link-title">
                        Рабочие<br> столешницы
                    </h4>
                </a>
                <a href="#" class="fullscreen-gallery__categories-link">
                    <svg width="14" height="14" aria-hidden="true" class="icon-child-desk">
                        <use xlink:href="#child-desk"></use>
                    </svg>
                    <h4 class="fullscreen-gallery__categories-link-title">
                        Детские<br>столы
                    </h4>
                </a>
                <a href="#" class="fullscreen-gallery__categories-link">
                    <svg width="14" height="14" aria-hidden="true" class="icon-window-desk">
                        <use xlink:href="#window-desk"></use>
                    </svg>
                    <h4 class="fullscreen-gallery__categories-link-title">
                        Подоконники<br>и полки
                    </h4>
                </a>
            </div>
            <div class="fullscreen-gallery__bottom-row">
                <div class="fullscreen-gallery__inner-slider">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="fullscreen-gallery__inner-slider-card">
                                    <div class="fullscreen-gallery__inner-slider-card-category">
                                        кухонные столы
                                    </div>
                                    <div class="fullscreen-gallery__inner-slider-card-text">
                                        <p>
                                            Прозрачное гибкое стекло имеет широкий спектр применения, благодаря удобному
                                            использованию и долгому сроку эксплуатации. Силиконовая скатерть «гибкое
                                            стекло»
                                            гарантирует сохранность абсолютно любой застилаемой мебели, как домашней,
                                            так и
                                            офисной мебели.
                                        </p>
                                    </div>
                                    <a href="#to-calculator" class="btn fullscreen-gallery__inner-slider-card-link">
                                        Рассчитать стоимость
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="fullscreen-gallery__inner-slider-card">
                                    <div class="fullscreen-gallery__inner-slider-card-category">
                                        кухонные столы
                                    </div>
                                    <div class="fullscreen-gallery__inner-slider-card-text">
                                        <p>
                                            Прозрачное гибкое стекло имеет широкий спектр применения, благодаря удобному
                                            использованию и долгому сроку эксплуатации.
                                        </p>
                                    </div>
                                    <a href="#to-calculator" class="btn fullscreen-gallery__inner-slider-card-link">
                                        Рассчитать стоимость
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="fullscreen-gallery__inner-slider-card">
                                    <div class="fullscreen-gallery__inner-slider-card-category">
                                        кухонные столы
                                    </div>
                                    <div class="fullscreen-gallery__inner-slider-card-text">
                                        <p>
                                            Прозрачное гибкое стекло имеет широкий спектр применения, благодаря удобному
                                            использованию и долгому сроку эксплуатации. Силиконовая скатерть «гибкое
                                            стекло»
                                            гарантирует сохранность абсолютно любой застилаемой мебели, как домашней,
                                            так и
                                            офисной мебели.
                                        </p>
                                    </div>
                                    <a href="#to-calculator" class="btn fullscreen-gallery__inner-slider-card-link">
                                        Рассчитать стоимость
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="fullscreen-gallery__inner-slider-card">
                                    <div class="fullscreen-gallery__inner-slider-card-category">
                                        кухонные столы
                                    </div>
                                    <div class="fullscreen-gallery__inner-slider-card-text">
                                        <p>
                                            Прозрачное гибкое стекло имеет широкий спектр применения, благодаря удобному
                                            использованию и долгому сроку эксплуатации.
                                        </p>
                                    </div>
                                    <a href="#to-calculator" class="btn fullscreen-gallery__inner-slider-card-link">
                                        Рассчитать стоимость
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="fullscreen-gallery__inner-slider-card">
                                    <div class="fullscreen-gallery__inner-slider-card-category">
                                        кухонные столы
                                    </div>
                                    <div class="fullscreen-gallery__inner-slider-card-text">
                                        <p>
                                            Прозрачное гибкое стекло имеет широкий спектр применения, благодаря удобному
                                            использованию и долгому сроку эксплуатации. Силиконовая скатерть «гибкое
                                            стекло»
                                            гарантирует сохранность абсолютно любой застилаемой мебели, как домашней,
                                            так и
                                            офисной мебели.
                                        </p>
                                    </div>
                                    <a href="#to-calculator" class="btn fullscreen-gallery__inner-slider-card-link">
                                        Рассчитать стоимость
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fullscreen-gallery__arrows">
                    <button class="fullscreen-gallery__arrow fullscreen-gallery__arrow--prev" type="button">
                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-thin-left">
                            <use xlink:href="#arrow-thin-left"></use>
                        </svg>
                    </button>
                    <button class="fullscreen-gallery__arrow fullscreen-gallery__arrow--next" type="button">
                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-thin-right">
                            <use xlink:href="#arrow-thin-right"></use>
                        </svg>
                    </button>
                </div>
            </div>

        </div>
    </div>
</section>


<section class="table-comparison">
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>
                        <div class="table-comparison__heading">
                            Силиконовая скатерть на стол<br> - купить выгодно
                            <img src="img/logo-dark.svg" alt="" class="table-comparison__heading-logo">
                        </div>

                    </th>
                    <th>
                        <div class="table-comparison__heading">
                            Аналоги без сертификации, не пищевые
                        </div>

                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Высокая прозрачность — 100%
                    </td>
                    <td>
                        Низкая прозрачность — 70%
                    </td>

                </tr>
                <tr>
                    <td>
                        Идеальное прилегание к поверхности
                    </td>
                    <td>
                        Бугрится, есть искажение прозрачности
                    </td>

                </tr>
                <tr>
                    <td>
                        Термостойкость — до +100 °C
                    </td>
                    <td>
                        Термостойкость — до +70 °C
                    </td>

                </tr>
                <tr>
                    <td>
                        Безопасность и экологичность — нет посторонних запахов
                    </td>
                    <td>
                        Постоянный неприятный запах
                    </td>

                </tr>
                <tr>
                    <td>
                        Простота ухода — достаточно влажной салфетки, без разводов
                    </td>
                    <td>
                        Сложность в уходе — если загрязнение не убрать сразу, остается надолго
                    </td>

                </tr>
                <tr>
                    <td>
                        Высокая эластичность — позволяет свернуть ее в рулон
                    </td>
                    <td>
                        Низкая устойчивость к механическим повреждениям
                    </td>

                </tr>
                <tr>
                    <td>
                        Срок службы 20 лет
                    </td>
                    <td>
                        Срок службы до 1 года(сохнет и рассыпается)
                    </td>

                </tr>
                <tr>
                    <td>
                        Антистатическое покрытие — не прилипают крошки
                    </td>
                    <td>
                        Постоянная статика
                    </td>

                </tr>
                <tr>
                    <td>
                        Наличие сертификата, ГОСТа
                    </td>
                    <td>
                        Отсутствие сертификата
                    </td>

                </tr>
                <tr>
                    <td>
                        Защита от ультрафиолета
                    </td>
                    <td>
                        Темнеет через 3-4 месяца
                    </td>

                </tr>
                <tr>
                    <td>
                        Отсутсвуют химические фталаты
                    </td>
                    <td>
                        Возможно присутствие фталатов
                    </td>

                </tr>
                <tr>
                    <td>
                        Пищевой стандарт
                    </td>
                    <td>
                        Нет пищевого стандарта
                    </td>

                </tr>
                <tr>
                    <td>
                        Жесткость 52PHR
                    </td>
                    <td>
                        Жесткость 30PHR
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</section>


<section class="advantage">
    <div class="container">
        <div class="advantage__row">
            <div class="advantage__col">
                <h2 class="advantage__heading">
                    Прозрачная скатерть «мягкое стекло» не скрывает поверхность стола
                </h2>
            </div>
            <div class="advantage__col">
                <div class="advantage__text">
                    <p>
                        Под мягким стеклом будет отлично просматриваться красивый дизайн вашей мебели. Защитное покрытие
                        идеально лежит на поверхности стола и не ерзает!
                    </p>
                </div>
                <a href="#to-calculator" class="btn advantage__link">
                    Рассчитать стоимость
                </a>
            </div>
        </div>
    </div>
</section>

<section class="interior">
    <div class="container">
        <div class="interior__wrapper">
            <h2 class="interior__title section-heading">Прозрачная скатерть впишется в любой интерьер</h2>
            <p class="interior__subtitle">
                Прозрачное гибкое стекло имеет широкий спектр применения, благодаря удобному использованию
                и&nbsp;долгому сроку эксплуатации. Силиконовая скатерть &laquo;гибкое стекло&raquo; гарантирует
                сохранность абсолютно любой застилаемой мебели&nbsp;&mdash; как домашней, так и&nbsp;офисной мебели.
            </p>
            <div class="interior__container">
                <div class="interior__item  js-faq-accordion">
                    <div class="interior__inner">
                        <img src="img/interior/bg_item_interior-1.jpg" alt="bg_interior">
                        <h4>Пленка на стол приобретают практичные хозяева</h4>
                        <p>Жидкое стекло – пленку на стол приобретают практичные хозяева, желающие на долгие годы
                            уберечь
                            свою
                            мебель от повреждений и максимально упростить процесс уборки. Это особенно важно, если речь
                            идет
                            о
                            дорогой мебели из натуральных материалов. Гибкое стекло станет отличным укрытием для Вашего
                            стола.
                        </p>
                        <div class="interior__btn faq__questions-accordion-btn">
                            <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                <use xlink:href="#cross"></use>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="interior__item  js-faq-accordion">
                    <div class="interior__inner">
                        <img src="img/interior/bg_item_interior-1.jpg" alt="bg_interior">
                        <h4>Пленка на стол приобретают практичные хозяева</h4>
                        <p>Жидкое стекло – пленку на стол приобретают практичные хозяева, желающие на долгие годы
                            уберечь
                            свою
                            мебель от повреждений и максимально упростить процесс уборки. Это особенно важно, если речь
                            идет
                            о
                            дорогой мебели из натуральных материалов. Гибкое стекло станет отличным укрытием для Вашего
                            стола.
                        </p>
                        <div class="interior__btn faq__questions-accordion-btn">
                            <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                <use xlink:href="#cross"></use>
                            </svg>
                        </div>
                    </div>

                </div>
                <div class="interior__item  js-faq-accordion">
                    <div class="interior__inner interior__inner-right">
                        <img src="img/interior/bg_item_interior-3.jpg" alt="bg_interior">
                        <h4>Скатерть соответствует международным стандартам качества</h4>
                        <p>Жидкое стекло – пленку на стол приобретают практичные хозяева, желающие на долгие годы
                            уберечь
                            свою
                            мебель от повреждений и максимально упростить процесс уборки. Это особенно важно, если речь
                            идет
                            о
                            дорогой мебели из натуральных материалов. Гибкое стекло станет отличным укрытием для Вашего
                            стола.
                        </p>
                        <div class="interior__btn faq__questions-accordion-btn">
                            <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                <use xlink:href="#cross"></use>
                            </svg>
                        </div>
                    </div>

                </div>
                <div class="interior__item  js-faq-accordion">
                    <div class="interior__inner">
                        <img src="img/interior/bg_item_interior-4.jpg" alt="bg_interior">
                        <h4>Скатерть мягкое стекло добавит элегантности вашей мебели</h4>
                        <p>Жидкое стекло – пленку на стол приобретают практичные хозяева, желающие на долгие годы
                            уберечь
                            свою
                            мебель от повреждений и максимально упростить процесс уборки. Это особенно важно, если речь
                            идет
                            о
                            дорогой мебели из натуральных материалов. Гибкое стекло станет отличным укрытием для Вашего
                            стола.
                        </p>
                        <div class="interior__btn faq__questions-accordion-btn">
                            <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                <use xlink:href="#cross"></use>
                            </svg>
                        </div>
                    </div>

                </div>
                <div class="interior__item  js-faq-accordion">
                    <div class="interior__inner">
                        <img src="img/interior/bg_item_interior-5.jpg" alt="bg_interior">
                        <h4>Скатерть жидкое стекло — идеальный подарок близким</h4>
                        <p>Жидкое стекло – пленку на стол приобретают практичные хозяева, желающие на долгие годы
                            уберечь
                            свою
                            мебель от повреждений и максимально упростить процесс уборки. Это особенно важно, если речь
                            идет
                            о
                            дорогой мебели из натуральных материалов. Гибкое стекло станет отличным укрытием для Вашего
                            стола.
                        </p>
                        <div class="interior__btn faq__questions-accordion-btn">
                            <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                <use xlink:href="#cross"></use>
                            </svg>
                        </div>
                    </div>

                </div>
                <div class="interior__item  js-faq-accordion">
                    <div class="interior__inner interior__inner-right">
                        <img src="img/interior/bg_item_interior-6.jpg" alt="bg_interior">
                        <h4>Скатерть жидкое стекло — идеальный подарок близким</h4>
                        <p>Жидкое стекло – пленку на стол приобретают практичные хозяева, желающие на долгие годы
                            уберечь
                            свою
                            мебель от повреждений и максимально упростить процесс уборки. Это особенно важно, если речь
                            идет
                            о
                            дорогой мебели из натуральных материалов. Гибкое стекло станет отличным укрытием для Вашего
                            стола.
                        </p>
                        <div class="interior__btn faq__questions-accordion-btn">
                            <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                <use xlink:href="#cross"></use>
                            </svg>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="glass">
    <div class="container">
        <div class="glass__card">
            <div class="glass__card-top-row">
                <div class="glass__card-col">
                    <h2 class="section-heading glass__card-heading">
                        Мягкое стекло на стол бывает 2-х видов
                    </h2>
                </div>
                <div class="glass__card-col">
                    <div class="glass__card-text">
                        <p>
                            В настоящий момент доступны следующие варианты защитных пленок «мягкое стекло»: прозрачноеи
                            рифленое. Толщина скатерти — мягкое стекло 2 мм.
                        </p>
                    </div>
                </div>
            </div>
            <div class="glass__card-bottom-row">
                <div class="glass__card-inner">
                    <div class="glass__card-inner-bg">
                        <img src="img/glass-card-inner-1.jpg" alt="" class="glass__card-inner-bg-image">
                    </div>
                    <div class="glass__card-heading-block">
                        <div class="glass__card-heading-block-content">
                            <div class="glass__card-heading-block-type">
                                Силиконовая скатерть<br>
                                жидкое стекло
                            </div>
                            <h3 class="glass__card-heading-block-name">
                                Рифленая
                            </h3>
                        </div>
                        <img src="img/glass-icon-1.svg" alt="" class="glass__card-heading-block-icon">
                    </div>
                    <a href="#" class="btn glass__card-link">
                        Заказать скатерть
                    </a>
                    <div class="glass__card-description">
                        <p>
                            Рифление с внутренней стороны пленки, а с внешней стороны – глянцевая. Идеально подойдет для
                            стеклянных и глянцевых поверхностей, под ней не образуются пузыри воздуха. Рифленая
                            силиконовая скатерть полупрозрачна, она отлично скроет дефекты поверхности.
                        </p>
                    </div>
                </div>
                <div class="glass__card-inner">
                    <div class="glass__card-inner-bg">
                        <img src="img/glass-card-inner-2.jpg" alt="" class="glass__card-inner-bg-image">
                    </div>
                    <div class="glass__card-heading-block">
                        <div class="glass__card-heading-block-content">
                            <div class="glass__card-heading-block-type">
                                Силиконовая скатерть<br>
                                жидкое стекло
                            </div>
                            <h3 class="glass__card-heading-block-name">
                                Глянцевая
                            </h3>
                        </div>
                        <img src="img/glass-icon-2.svg" alt="" class="glass__card-heading-block-icon">
                    </div>
                    <a href="#" class="btn glass__card-link">
                        Заказать скатерть
                    </a>
                    <div class="glass__card-description">
                        <p>
                            Скатерть жидкое стекло гармонично сочетаетсяс текстильными изделиями, камнем и столешницами
                            из натуральной древесины. Отсутствие рисунка позволяет применять жидкое стекло даже в любых
                            интерьерах, оно добавит элегантности вашей мебели.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="thickness">
    <div class="container">
        <h2 class="section-heading thickness__heading">
            Силиконовая скатерть на стол – Какую толщину выбрать?
        </h2>
        <ul class="thickness__list">
            <li class="thickness__list-item">
                <div class="thickness__card">
                    <img src="img/thickness/1.svg" alt="" class="thickness__card-icon">
                    <h4 class="thickness__card-title">
                        Силиконовая скатерть 1 мм на стол прозрачная придаст поверхности новизну
                    </h4>
                    <div class="thickness__card-text">
                        <p>
                            Подойдет для поверхностей с низким износом - комоды, подоконники, тумбочки и т.д. Мягкое
                            стекло на стол– гарантированно защитит предметы интерьера от царапини прочих повреждений.
                        </p>
                    </div>
                    <div class="thickness__card-price">
                        <h5 class="thickness__card-price-title">
                            Стоимость
                        </h5>
                        <div class="thickness__card-price-amount">
                            от 720₽ / 1м2
                        </div>
                    </div>
                </div>
            </li>
            <li class="thickness__list-item">
                <div class="thickness__card">
                    <img src="img/thickness/2.svg" alt="" class="thickness__card-icon">
                    <h4 class="thickness__card-title">
                        Силиконовая скатерть 1,5 мм скроет уже имеющиеся дефекты
                    </h4>
                    <div class="thickness__card-text">
                        <p>
                            Для таких поверхностей, как офисные столы, школьные парты, детскиестолики рекомендуем брать
                            силиконовую скатерть 1,5 мм. Под прозрачным стеклом удобнохранить школьное расписаниеи
                            стикеры с заметками.
                        </p>
                    </div>
                    <div class="thickness__card-price">
                        <h5 class="thickness__card-price-title">
                            Стоимость
                        </h5>
                        <div class="thickness__card-price-amount">
                            от 950₽ / 1м2
                        </div>
                    </div>
                </div>
            </li>
            <li class="thickness__list-item">
                <div class="thickness__card">
                    <img src="img/thickness/3.svg" alt="" class="thickness__card-icon">
                    <h4 class="thickness__card-title">
                        Силиконовая скатерть 2 ммне изменит дизайн вашего стола
                    </h4>
                    <div class="thickness__card-text">
                        <p>
                            Самая оптимальная толщина защитной пленки для кухонных столов 2 мм.Такая защитная пленка не
                            скрывает красоту стола, но при этом надежно защищает его. Мягкое стекло можно применить как
                            защиту напольного покрытия под компьютерное кресло.
                        </p>
                    </div>
                    <div class="thickness__card-price">
                        <h5 class="thickness__card-price-title">
                            Стоимость
                        </h5>
                        <div class="thickness__card-price-amount">
                            от 1080₽ / 1м2
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>


<section class="special">
    <img src="img/special-bg.jpg" alt="" class="special__bg-image">
    <div class="container">
        <h2 class="section-heading special__heading">
            Специальное предложение
        </h2>
        <ul class="special__promo-list">
            <li class="special__promo-list-item">
                <a href="#" class="special__promo-card">
                    <img src="img/special/special-icon-1.svg" alt="" class="special__promo-card-icon">
                    <div class="special__promo-card-amount">
                        20%
                    </div>
                    <h4 class="special__promo-card-title">
                        При заказе 2-х полотен получите скидку 20%
                    </h4>
                </a>
            </li>
            <li class="special__promo-list-item">
                <a href="#" class="special__promo-card">
                    <img src="img/special/special-icon-2.svg" alt="" class="special__promo-card-icon">
                    <div class="special__promo-card-amount">
                        30%
                    </div>
                    <h4 class="special__promo-card-title">
                        При заказе 3-х полотен получите скидку 30%
                    </h4>
                </a>
            </li>
            <li class="special__promo-list-item">
                <a href="#" class="special__promo-card">
                    <img src="img/special/special-icon-3.svg" alt="" class="special__promo-card-icon">
                    <div class="special__promo-card-amount">
                        Подарок
                    </div>
                    <h4 class="special__promo-card-title">
                        При заказе 3+ — индвидуальное предложение
                    </h4>
                </a>
            </li>
            <li class="special__promo-list-item">
                <a href="#" class="special__get-discount">
                    Получить скидку
                </a>
            </li>
        </ul>
    </div>
</section>


<section class="surface-types">
    <div class="container">
        <h2 class="section-heading surface-types__heading">
            Как выглядит силиконовая скатерть на разных поверхностях
        </h2>
        <div class="surface-types__slider js-surface-types-slider">
            <div class="surface-types__slider-width-wrapper">
                <div class="surface-types__slider-wrapper">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="surface-types__slider-card">
                                    <img src="img/product-type.jpg" alt="" class="surface-types__slider-card-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="surface-types__slider-card">
                                    <img src="img/product-type.jpg" alt="" class="surface-types__slider-card-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="surface-types__slider-card">
                                    <img src="img/product-type.jpg" alt="" class="surface-types__slider-card-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="surface-types__slider-card">
                                    <img src="img/product-type.jpg" alt="" class="surface-types__slider-card-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="surface-types__slider-card">
                                    <img src="img/product-type.jpg" alt="" class="surface-types__slider-card-image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="surface-types__slider-controls">
                <div class="surface-types__slider-nav">
                    <a href="#" class="surface-types__slider-nav-link">
                        Стеклянный стол
                    </a>
                    <a href="#" class="surface-types__slider-nav-link">
                        Шпонированный стол
                    </a>
                    <a href="#" class="surface-types__slider-nav-link">
                        Стол из МДФ
                    </a>
                    <a href="#" class="surface-types__slider-nav-link">
                        Лакированный стол
                    </a>
                    <a href="#" class="surface-types__slider-nav-link">
                        Крашенный стол
                    </a>
                </div>
                <div class="surface-types__slider-arrows">
                    <button class="surface-types__slider-arrow surface-types__slider-arrow--prev">
                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-thin-left">
                            <use xlink:href="#arrow-thin-left"></use>
                        </svg>
                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-thin-left-mobile">
                            <use xlink:href="#arrow-thin-left-mobile"></use>
                        </svg>
                    </button>
                    <button class="surface-types__slider-arrow surface-types__slider-arrow--next">
                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-thin-right">
                            <use xlink:href="#arrow-thin-right"></use>
                        </svg>
                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-thin-right-mobile">
                            <use xlink:href="#arrow-thin-right-mobile"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="surface-types__row">
            <div class="surface-types__col">
                <h3 class="surface-types__small-heading">

                    Скатерть прозрачная экологична и безопасна
                </h3>
                <div class="surface-types__text">
                    <p>
                        Подойдет для поверхностей с низким износом — комоды, подоконники, тумбочки и т.д. Мягкое стекло
                        на стол гарантированно защитит предметы интерьераот царапин и прочих повреждений.
                    </p>
                </div>
            </div>
            <div class="surface-types__col">
                <ul class="surface-types__advantages-list">
                    <li class="surface-types__list-item">
                        <div class="surface-types__advantages-card">
                            <img src="img/surface-type/surface-type-icon-1.svg" alt=""
                                class="surface-types__advantages-card-icon">
                            <div class="surface-types__advantages-card-text">
                                <p>
                                    Силиконовая скатерть на квадратный
                                    стол
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="surface-types__list-item">
                        <div class="surface-types__advantages-card">
                            <img src="img/surface-type/surface-type-icon-2.svg" alt=""
                                class="surface-types__advantages-card-icon">
                            <div class="surface-types__advantages-card-text">
                                <p>
                                    Скатерть гибкое стекло на круглый стол
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="surface-types__list-item">
                        <div class="surface-types__advantages-card">
                            <img src="img/surface-type/surface-type-icon-3.svg" alt=""
                                class="surface-types__advantages-card-icon">
                            <div class="surface-types__advantages-card-text">
                                <p>
                                    Пленка жидкое стекло на овальный стол
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>


<section class="why-us">
    <div class="container">
        <div class="why-us__top-row">
            <div class="why-us__content">
                <h2 class="section-heading why-us__heading">
                    Почему покупают именно у нас?
                </h2>
                <div class="why-us__text">
                    <p>
                        Будьте внимательны через заказы через интернет. Если вы введете в поиске «силиконовая скатерть
                        на
                        стол прозрачная купить», то обнаружите массу предложений, не все из которых вас порадуют высоким
                        качеством. Наша компания предлагает прозрачные скатерти только из пищевого ПВХ.
                    </p>
                </div>
                <img src="img/why-us-doc.jpg" alt="" class="why-us__certificate-mobile">
                <div class="why-us__warning">
                    <svg width="14" height="14" aria-hidden="true" class="icon-info">
                        <use xlink:href="#info"></use>
                    </svg>
                    <div class="why-us__warning-text">
                        <p>
                            Силиконовая скатерть GALAXY содержит ингибиторы, предотвращающие разложение на канцерогенные
                            вещества под воздействием горячей посуды до 700С
                        </p>
                    </div>
                </div>
            </div>
            <img src="img/why-us-doc.jpg" alt="" class="why-us__certificate">
        </div>
        <ul class="why-us__benefits-list">
            <li class="why-us__benefits-list-item">
                <img src="img/why-us/1.png" alt="" class="why-us__benefits-icon">
                <h4 class="why-us__benefits-title">
                    Подходящие по форме
                </h4>
                <div class="why-us__benefits-text">
                    <p>
                        Легко вырезаются
                    </p>
                </div>
            </li>
            <li class="why-us__benefits-list-item">
                <img src="img/why-us/2.svg" alt="" class="why-us__benefits-icon">
                <h4 class="why-us__benefits-title">
                    Долговечные
                </h4>
                <div class="why-us__benefits-text">
                    <p>
                        При должном уходе прослужат не менее 10 лет
                    </p>
                </div>
            </li>
            <li class="why-us__benefits-list-item">
                <img src="img/why-us/3.svg" alt="" class="why-us__benefits-icon">
                <h4 class="why-us__benefits-title">
                    Антистатическое покрытие
                </h4>
                <div class="why-us__benefits-text">
                    <p>
                        Не липнут крошки
                    </p>
                </div>
            </li>
            <li class="why-us__benefits-list-item">
                <img src="img/why-us/4.svg" alt="" class="why-us__benefits-icon">
                <h4 class="why-us__benefits-title">
                    Без запаха
                </h4>
                <div class="why-us__benefits-text">
                    <p>
                        Отсутствие фталатов
                        в составе исключают едкий запах
                    </p>
                </div>
            </li>
            <li class="why-us__benefits-list-item">
                <img src="img/why-us/5.png" alt="" class="why-us__benefits-icon">
                <h4 class="why-us__benefits-title">
                    Прочность
                </h4>
                <div class="why-us__benefits-text">
                    <p>
                        Толщиной 1-2 мм, которые нельзя случайно порезать ножом
                    </p>
                </div>
            </li>
        </ul>
        <div class="why-us__difference">
            <h3 class="why-us__difference-heading">
                В отличие от китайских покрытий наша прозрачная пленка на стол имеет плотную структуру (сложно прорезать
                насквозь), нет едкого запаха, не слипается!
            </h3>
            <ul class="why-us__difference-list">
                <li class="why-us__difference-list-item">
                    Прозрачная пленка отлично лежит под собственным весом, не скользит.
                </li>
                <li class="why-us__difference-list-item">
                    Защитная прозрачная пленка на стол экологична,не токсична и соотвествует российскому стандарту.
                </li>
                <li class="why-us__difference-list-item">
                    Жидкое стекло на столе не мнется.
                </li>
                <li class="why-us__difference-list-item">
                    Мягкое стекло на стол имеет сертификат соответствия.
                </li>
                <li class="why-us__difference-list-item">
                    Не боится случайно пролитого кипятка.
                </li>
                <li class="why-us__difference-list-item">
                    Комфортный температурный режим – +70 °C . Под очень горячую посуду желательно подкладывать салфетки
                    во избежании повреждения слоя ламинации.
                </li>
                <li class="why-us__difference-list-item item-close">
                    Со скатерти из мягкого стекла легко удаляется грязь, не въедаются жирные пятна.
                </li>
                <li class="why-us__difference-list-item item-close">
                    Цена защитной пленки гибкое стекло начинается от 720₽, зависит от толщины и размера полотна.
                </li>
                <li class="why-us__difference-list-item item-close">
                    Так как защитная пленка ПВХ мягкое стекло несет защитную функцию, то его внешний вид может
                    ухудшаться.
                </li>
                <li class="why-us__difference-list-item item-close">
                    Защитная пленка прозрачная внешне напоминает силикон, поэтому ее еще называют «силиконовая пленка»,
                    но она не мутнеет и обладает повышенными прочностными характеристиками.
                </li>
                <li class="why-us__difference-list-item item-close">
                    Скатерть гибкое стекло на стол Legato имеет бирюзово-синий оттенок, визуальноне заметный глазу,
                    который предотвращает выцветание и помутнение материала.
                </li>
                <li class="why-us__difference-list-item item-close">
                    Легко подрезается после усадки.
                </li>
            </ul>
            <div class="why-us__next s-add-content">Показать еще</div>
        </div>
    </div>
</section>

<section class="how-to-choose">
    <div class="container">
        <div class="how-to-choose__row">
            <div class="how-to-choose__card">
                <img data-src="img/table.png" alt="" class="how-to-choose__card-table lazyload">
                <h2 class="section-heading how-to-choose__card-heading">
                    Прозрачная скатерть на стол — есть вопросы?
                </h2>
                <div class="how-to-choose__card-text">
                    <p>
                        Остались вопросы по поводу прозрачной скатерти на стол? Мы готовы ответить на все ваши вопросыи
                        дать совет по выбору толщины скатерти.
                    </p>
                </div>
                <div class="how-to-choose__card-btns">
                    <a href="#to-calculator" class="btn how-to-choose__card-btn">
                        Рассчитать стоимость
                    </a>
                    <a href="#" class="how-to-choose__card-btn how-to-choose__card-write-btn">
                        <span>Написать нам</span>
                        <svg width="14" height="14" aria-hidden="true" class="icon-question">
                            <use xlink:href="#question"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="how-to-choose__sale">
                <div class="how-to-choose__sale-text">
                    <p>
                        Оформите заказ до конца марта и получите скидку 13%
                    </p>
                </div>
                <div class="how-to-choose__sale-amount">
                    <div class="how-to-choose__sale-amount-number">
                        13%
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="calculator" id="calculator">
    <div class="container">
        <div class="calculator__card">
            <div class="calculator__card-col">
                <h2 class="section-heading calculator__heading">
                    Купить силиконовую скатерть выгодно!
                </h2>
                <div class="calculator__text">
                    <p>
                        Расчитать стоимость силиконовой скатерти вы можете воспользовавшись нашим
                        онлайн-калькулятором.Для расчета стоимости пленки уточните размеры вашего стола.
                    </p>
                </div>
                <a href="#" class="calculator__do-not-know">
                    Не знаю свои параметры
                </a>
                <img src="img/calculator-illustration.png" alt="" class="calculator__illustration">
            </div>
            <div class="calculator__card-col">
                <form action="/" method="POST" class="calculator__form">
                    <div class="calculator__form-fields">


                        <div class="calculator__form-field calculator__form-field--fullwidth">
                            <div class="calculator__form-field-label">
                                Форма стола
                            </div>
                            <div class="calculator__form-select">
                                <select name="form" class="js-custom-select">
                                    <option value="" placeholder>
                                        Форма стола
                                    </option>
                                    <option value="1">
                                        Квадратный стол
                                    </option>
                                    <option value="2">
                                        Овальный стол
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="calculator__form-field">
                            <label for="length" class="calculator__form-field-label">
                                Длина
                            </label>
                            <input type="tel" class="calculator__form-input js-numeric-input" placeholder="см"
                                id="length">
                        </div>
                        <div class="calculator__form-field">
                            <label for="width" class="calculator__form-field-label">
                                Ширина
                            </label>
                            <input type="tel" class="calculator__form-input js-numeric-input" placeholder="см"
                                id="width">
                        </div>

                        <div class="calculator__form-field calculator__form-field--fullwidth">
                            <label for="thickness" class="calculator__form-field-label">
                                Толщина
                            </label>
                            <div class="calculator__form-select">
                                <select name="form" class="js-custom-select">
                                    <option value="" placeholder>
                                        Толщина
                                    </option>
                                    <option value="1">
                                        1 мм
                                    </option>
                                    <option value="2">
                                        2 мм
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="calculator__form-field">
                            <label for="yourname" class="calculator__form-field-label">
                                Имя
                            </label>
                            <input type="text" class="calculator__form-input js-numeric-input" placeholder="Имя"
                                name="yourname">
                        </div>
                        <div class="calculator__form-field">
                            <label for="yourphone" class="calculator__form-field-label">
                                Телефон
                            </label>
                            <input type="tel" class="calculator__form-input js-phone-input" placeholder="Телефон"
                                name="yourphone">
                        </div>
                        <div class="calculator__form-field calculator__form-field--fullwidth">
                            <label class="calculator__form-field-checkbox">
                                <input type="checkbox" class="calculator__form-field-checkbox-input">
                                <span class="calculator__form-field-checkbox-mark">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-checkmark">
                                        <use xlink:href="#checkmark"></use>
                                    </svg>

                                </span>
                                <span class="calculator__form-field-checkbox-text">
                                    Соглашение с политикой конфиденциальности
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="calculator__form-price">
                        <div class="calculator__form-price-new">
                            2100₽
                        </div>
                        <div class="calculator__form-price-old">
                            2230₽
                        </div>
                    </div>
                    <button class="btn calculator__form-submit" type="submit">

                        Заказать скатерть
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="advantage">
    <img src="img/advantage-bg.jpg" alt="" class="advantage__bg-image">
    <div class="container">
        <div class="advantage__row">
            <div class="advantage__col">
                <h2 class="advantage__heading">
                    Поможем правильно измерить стол для заказа силиконовой скатерти
                </h2>
            </div>
            <div class="advantage__col">
                <div class="advantage__text">
                    <p>
                        Для вашего удобства мы подготовили инструкцию,в которой подробно рассказываем, как верно
                        определить размеры стола, чтобы безошибочно заказать скатерть.
                    </p>
                </div>
                <a href="assets/pdf/1.pdf" target="_blank" class="btn advantage__link">
                    Получить инструкцию
                </a>
            </div>
        </div>
    </div>
</section>

<section class="reviews">
    <div class="container">
        <h2 class="section-heading reviews__heading">
            Гибкое стекло для стола - наши отзывы
        </h2>
        <div class="reviews__text">
            <p>
                Отзывы покупателей, которые уже заказли гибкое стекло на стол. Мы прилагаем максимум усилий, чтобы
                соответсвовать вашему доверию. Мы рады, что вы уже оценили качество нашей скатерти «гибкое стекло».
            </p>
        </div>
        <div class="reviews__slider js-reviews-slider">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" class="reviews__slider-card">
                            <div class="reviews__slider-card-bg">
                                <img src="img/reviews/1.jpg" alt="" class="reviews__slider-card-bg-image">
                            </div>
                            <div class="reviews__slider-card-author">
                                Сергей, г. Нижнекамск
                            </div>
                            <h4 class="reviews__slider-card-title">
                                Скатерть отлично вписалась в интерьер, семья довольна
                            </h4>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="reviews__slider-card">
                            <div class="reviews__slider-card-bg">
                                <img src="img/reviews/2.jpg" alt="" class="reviews__slider-card-bg-image">
                            </div>
                            <div class="reviews__slider-card-author">
                                Мария, г. Санкт-Питербург
                            </div>
                            <h4 class="reviews__slider-card-title">
                                В точности подошла по форме на нашего стола
                            </h4>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="reviews__slider-card">
                            <div class="reviews__slider-card-bg">
                                <img src="img/reviews/3.jpg" alt="" class="reviews__slider-card-bg-image">
                            </div>
                            <div class="reviews__slider-card-author">
                                Анастасия, г. Пермь
                            </div>
                            <h4 class="reviews__slider-card-title">
                                Абсолютно ничего не прилипает, очень удобно
                            </h4>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="reviews__slider-card">
                            <div class="reviews__slider-card-bg">
                                <img src="img/reviews/4.jpg" alt="" class="reviews__slider-card-bg-image">
                            </div>
                            <div class="reviews__slider-card-author">
                                Елена, г. Магнитогорск
                            </div>
                            <h4 class="reviews__slider-card-title">
                                Силиконовая скатерть стала полезным подарком
                            </h4>
                        </a>
                    </div>
                </div>
            </div>
            <div class="reviews__slider-pagination"></div>
        </div>
    </div>
</section>

<section class="delivery">
    <div class="container">
        <div class="delivery__row">
            <div class="delivery__col">
                <h2 class="section-heading delivery__heading">
                    Пленку для стола доставить просто!
                </h2>
                <div class="delivery__text">
                    <p>
                        Почему пленку на стол заказывают именно у нас? Приобрести силиконовую пленку можно абсолютно без
                        риска - вам не нужно переводить деньги заранее, оплачивать мягкое стекло на стол Вы будете
                        исключительно при получении, убедившись в его качестве.
                    </p>
                </div>
            </div>
            <div class="delivery__col">
                <ul class="delivery__features-list">
                    <li class="delivery__features-list-item">
                        <h4 class="delivery__features-title">
                            Мягкое гибкое стекло на стол – купить могут как юр. лица так и физ. лица
                        </h4>
                        <div class="delivery__features-text">
                            Мы работаем с физическими и юридическими лицами на основании двустороннего договора. С
                            организациями работаем через расчетный счет, что обеспечивает вам дополнительные гарантии и
                            снижает риски.
                        </div>
                    </li>
                    <li class="delivery__features-list-item">
                        <h4 class="delivery__features-title">
                            Мягкое стекло для стола – отпраляем СДЕК и Почтой России
                        </h4>
                        <div class="delivery__features-text">
                            Вырезаем пленку на стол в день заказа по Вашим размерам, собираем заказ в максимально
                            быстрые сроки и гарантируем Вам качество упаковки!
                        </div>
                    </li>
                </ul>
                <ul class="delivery__options-list">
                    <li class="delivery__options-list-item">
                        <img src="img/post.jpg" alt="" class="delivery__options-logo">
                        <div class="delivery__options-price">
                            <strong>
                                Стоимость
                            </strong><br>

                            от 300₽
                        </div>
                    </li>
                    <li class="delivery__options-list-item">
                        <img src="img/cdek.png" alt="" class="delivery__options-logo">
                        <div class="delivery__options-price">
                            <strong>
                                Стоимость
                            </strong><br>

                            от 300₽
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="faq">
    <div class="container">
        <h2 class="faq__heading">
            Наш эксперт отвечает на самые главные вопросы
        </h2>
        <div class="faq__row">
            <div class="faq__col">
                <ul class="faq__questions-list">
                    <li class="faq__questions-list-item">
                        <div class="faq__questions-accordion js-faq-accordion">
                            <div class="faq__questions-accordion-btn">
                                <div class="faq__questions-accordion-btn-text">
                                    Какое качество вы гарантируете?
                                </div>
                                <div class="faq__questions-accordion-btn-cross">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                        <use xlink:href="#cross"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="faq__questions-accordion-content">
                                <div class="faq__questions-accordion-content-inner">
                                    <p>
                                        Наше мягкое стекло изготавливается в Южной Корее, что выделяет нас среди
                                        конкурентов и
                                        обладает премиальным качеством и сроком службы свыше 20 лет.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="faq__questions-list-item">
                        <div class="faq__questions-accordion js-faq-accordion">
                            <div class="faq__questions-accordion-btn">
                                <div class="faq__questions-accordion-btn-text">
                                    Какая страна производитель вашего стекла?
                                </div>
                                <div class="faq__questions-accordion-btn-cross">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                        <use xlink:href="#cross"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="faq__questions-accordion-content">
                                <div class="faq__questions-accordion-content-inner">
                                    <p>
                                        Наше мягкое стекло изготавливается в Южной Корее, что выделяет нас среди
                                        конкурентов и
                                        обладает премиальным качеством и сроком службы свыше 20 лет.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="faq__questions-list-item">
                        <div class="faq__questions-accordion js-faq-accordion">
                            <div class="faq__questions-accordion-btn">
                                <div class="faq__questions-accordion-btn-text">
                                    Делаете ли вы запас на усадку?
                                </div>
                                <div class="faq__questions-accordion-btn-cross">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                        <use xlink:href="#cross"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="faq__questions-accordion-content">
                                <div class="faq__questions-accordion-content-inner">
                                    <p>
                                        Наше мягкое стекло изготавливается в Южной Корее, что выделяет нас среди
                                        конкурентов и
                                        обладает премиальным качеством и сроком службы свыше 20 лет.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="faq__questions-list-item">
                        <div class="faq__questions-accordion js-faq-accordion">
                            <div class="faq__questions-accordion-btn">
                                <div class="faq__questions-accordion-btn-text">
                                    Как осуществляется доставка и оплата?
                                </div>
                                <div class="faq__questions-accordion-btn-cross">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                        <use xlink:href="#cross"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="faq__questions-accordion-content">
                                <div class="faq__questions-accordion-content-inner">
                                    <p>
                                        Наше мягкое стекло изготавливается в Южной Корее, что выделяет нас среди
                                        конкурентов и
                                        обладает премиальным качеством и сроком службы свыше 20 лет.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="faq__questions-list-item">
                        <div class="faq__questions-accordion js-faq-accordion">
                            <div class="faq__questions-accordion-btn">
                                <div class="faq__questions-accordion-btn-text">
                                    Как уложить мягкое стекло?
                                </div>
                                <div class="faq__questions-accordion-btn-cross">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                        <use xlink:href="#cross"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="faq__questions-accordion-content">
                                <div class="faq__questions-accordion-content-inner">
                                    <p>
                                        Наше мягкое стекло изготавливается в Южной Корее, что выделяет нас среди
                                        конкурентов и
                                        обладает премиальным качеством и сроком службы свыше 20 лет.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="faq__col">
                <ul class="faq__questions-list">

                    <li class="faq__questions-list-item">
                        <div class="faq__questions-accordion js-faq-accordion">
                            <div class="faq__questions-accordion-btn">
                                <div class="faq__questions-accordion-btn-text">
                                    Как отрезать лишнее?
                                </div>
                                <div class="faq__questions-accordion-btn-cross">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                        <use xlink:href="#cross"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="faq__questions-accordion-content">
                                <div class="faq__questions-accordion-content-inner">
                                    <p>
                                        Наше мягкое стекло изготавливается в Южной Корее, что выделяет нас среди
                                        конкурентов и
                                        обладает премиальным качеством и сроком службы свыше 20 лет.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="faq__questions-list-item">
                        <div class="faq__questions-accordion js-faq-accordion">
                            <div class="faq__questions-accordion-btn">
                                <div class="faq__questions-accordion-btn-text">
                                    Как ухаживать за покрытием?
                                </div>
                                <div class="faq__questions-accordion-btn-cross">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                        <use xlink:href="#cross"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="faq__questions-accordion-content">
                                <div class="faq__questions-accordion-content-inner">
                                    <p>
                                        Наше мягкое стекло изготавливается в Южной Корее, что выделяет нас среди
                                        конкурентов и
                                        обладает премиальным качеством и сроком службы свыше 20 лет.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="faq__questions-list-item">
                        <div class="faq__questions-accordion js-faq-accordion">
                            <div class="faq__questions-accordion-btn">
                                <div class="faq__questions-accordion-btn-text">
                                    Каков гарантированный срок службы?
                                </div>
                                <div class="faq__questions-accordion-btn-cross">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                        <use xlink:href="#cross"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="faq__questions-accordion-content">
                                <div class="faq__questions-accordion-content-inner">
                                    <p>
                                        Наше мягкое стекло изготавливается в Южной Корее, что выделяет нас среди
                                        конкурентов и
                                        обладает премиальным качеством и сроком службы свыше 20 лет.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="faq__questions-list-item">
                        <div class="faq__questions-accordion js-faq-accordion">
                            <div class="faq__questions-accordion-btn">
                                <div class="faq__questions-accordion-btn-text">
                                    В чем отличие по толщине?
                                </div>
                                <div class="faq__questions-accordion-btn-cross">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                        <use xlink:href="#cross"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="faq__questions-accordion-content">
                                <div class="faq__questions-accordion-content-inner">
                                    <p>
                                        Наше мягкое стекло изготавливается в Южной Корее, что выделяет нас среди
                                        конкурентов и
                                        обладает премиальным качеством и сроком службы свыше 20 лет.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="faq__questions-list-item">
                        <div class="faq__questions-accordion js-faq-accordion">
                            <div class="faq__questions-accordion-btn">
                                <div class="faq__questions-accordion-btn-text">
                                    Каков срок гарантии?
                                </div>
                                <div class="faq__questions-accordion-btn-cross">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                        <use xlink:href="#cross"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="faq__questions-accordion-content">
                                <div class="faq__questions-accordion-content-inner">
                                    <p>
                                        Наше мягкое стекло изготавливается в Южной Корее, что выделяет нас среди
                                        конкурентов и
                                        обладает премиальным качеством и сроком службы свыше 20 лет.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="faq__next s-add-content">
            Показать еще
        </div>
    </div>
</section>

<section class="features">
    <div class="container">
        <div class="features__row">
            <div class="features__col">
                <h2 class="section-heading features__heading">
                    Пленка гибкое стекло – популярна в странах запада
                </h2>
                <div class="features__text">
                    <p>
                        Возможна отправка силиконовой скатерти «гибкое стекло» по всему миру DHL. Быстрая доставка по
                        всей России курьером, в пункты выдачи СДЭК или почтой.
                    </p>
                </div>
                <div class="features__images-gallery">
                    <div class="features__images-gallery-card">
                        <img src="img/features/1.jpg" alt="" class="features__images-gallery-card-photo">
                    </div>
                    <div class="features__images-gallery-card">
                        <img src="img/features/2.jpg" alt="" class="features__images-gallery-card-photo">
                    </div>
                    <div class="features__images-gallery-card">
                        <img src="img/features/3.jpg" alt="" class="features__images-gallery-card-photo">
                    </div>
                    <div class="features__images-gallery-card">
                        <img src="img/features/4.jpg" alt="" class="features__images-gallery-card-photo">
                    </div>
                </div>
            </div>
            <div class="features__col">
                <ul class="features__list">
                    <li class="features__list-item">
                        <div class="features__card">
                            <h4 class="features__card-title">
                                Мягкое стекло для стола отпраляем СДЕК и Почтой России
                            </h4>
                            <div class="features__card-text">
                                <p>
                                    Стекло на стол LEGATO давно получило признание
                                    на Западе. Популярность скатерти «жидкое стекло» объясняется тем, что постелив ее на
                                    стол Вы надежно защитите Вашу мебель от повреждений и при этом красота столешницы
                                    останется видимой.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="features__list-item">
                        <div class="features__card">
                            <h4 class="features__card-title">
                                Пленка ПВХ на стол – гибкая скатерть
                            </h4>
                            <div class="features__card-text">
                                <p>
                                    Прозрачная скатерть за последние пару лет успела завоевать популярность и в России.
                                    Мы уверены, что Вы оцените по достоинству, как и наши зарубежные клиенты, нашу
                                    пленку
                                    ПВХ на стол за ее практичность и долговечность.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="features__list-item">
                        <div class="features__card">
                            <h4 class="features__card-title">
                                Клеенка на стол прозрачная – защитная накладка
                            </h4>
                            <div class="features__card-text">
                                <p>
                                    Защитная накладка - это то, что Вам нужно! Это современный, инновационный материал,
                                    который отличается прочностью, эстетичным внешним видом и доступной ценой.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="features__list-item">
                        <div class="features__card">
                            <h4 class="features__card-title">
                                Скатерть жидкое стекло на стол – защитная пленка пвх
                            </h4>
                            <div class="features__card-text">
                                <p>
                                    Защитная пленки ПВХ- мечта каждой хозяйки. Скатерть «жидкое стекло» на стол
                                    привнесет в Ваш дом уют и красоту!
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>


        </div>
    </div>
</section>
<section class="how-to-choose">
    <div class="container">
        <div class="how-to-choose__row">
            <div class="how-to-choose__card">
                <img data-src="img/table.png" alt="" class="how-to-choose__card-table lazyload">
                <h2 class="section-heading how-to-choose__card-heading">
                    Не знаете как выбрать гибкое стекло?
                </h2>
                <div class="how-to-choose__card-text">
                    <p>
                        Заполните форму и мы позвоним в удобное для вас время.
                    </p>
                </div>
                <form action="/" method="POST" class="how-to-choose__card-form">
                    <div class="how-to-choose__card-form-field">
                        <input type="text" name="name" class="how-to-choose__card-form-input" required
                            placeholder="Имя">
                    </div>
                    <div class="how-to-choose__card-form-field">
                        <input type="tel" name="phone" class="how-to-choose__card-form-input js-phone-input" required
                            data-parsley-phone placeholder="Телефон">
                    </div>
                    <div class="how-to-choose__card-form-policy">
                        <p>
                            Нажимая “Отправить”, вы соглашаетесь с политикой конфиденциальности
                        </p>
                    </div>
                    <button class="btn how-to-choose__card-form-submit" type="submit">
                        Заказать звонок
                    </button>
                </form>
            </div>
            <div class="how-to-choose__sale">
                <div class="how-to-choose__sale-text">
                    <p>
                        При покупке двух скатертей дарим скидку 10%
                    </p>
                </div>
                <div class="how-to-choose__sale-amount">
                    <div class="how-to-choose__sale-amount-number">
                        10%
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal">
    <div class="modal__close">
        <span></span><span></span>
    </div>
    <div class="modal__overlay">


    </div>
    <div class="modal__inner">
        <div class="modal__title">
            Обратная связь
        </div>
        <div class="modal__subtitle">
            Заполните форму и мы свяжемся с вами в ближайшее время
        </div>
        <form action="#" class="modal-form">
            <div class="modal-form__input">
                <input type="text" placeholder="Имя*">
                <input type="text" class="js-phone-input phone" placeholder="Телефон*">
            </div>
            <textarea name="" id="" cols="30" rows="10" placeholder="Комментарий"></textarea>
            <div class="modal-form__footer">
                <p>Нажимая «Заказать звонок», вы соглашаетесь с политикой конфиденциальности</p>
                <button class="btn">Заказать звонок</button>
            </div>
        </form>
    </div>
    <div class="thanks">
        <svg width="14" height="14" aria-hidden="true" class="icon-question">
            <use xlink:href="#checked"></use>
        </svg>
        <div class="thanks__title">
            Спасибо за заявку!
        </div>
        <div class="thanks__subtitle">
            Ваши данные успешно отправлены.
            Мы свяжемся с вами в ближайшее время.
        </div>
        <a href="#" class="thanks__btn btn">Вернуться к просмотру</a>
    </div>
</div>
{{/content}}
{{/extend}}