.features {
    padding: 8rem 0;
}

.features__row {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-column-gap: 8rem;
    display: grid;
}

.features__col {
    display: flex;
    flex-direction: column;
}

.features__heading {
    margin-bottom: 3.5rem;
    margin-top: -0.3rem;
}

.features__text {
    font-size: 2.4rem;
    line-height: 3.6rem;
    margin-bottom: 6rem;
}

.features__images-gallery {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: minmax(10rem, 1fr) 7rem minmax(10rem, 1fr);
    grid-auto-flow: dense;
    grid-gap: 2.5rem;
    min-height: 50rem;
}

.features__images-gallery-card {
    position: relative;
    border-radius: 1.8rem;
    overflow: hidden;

    &:nth-child(1) {
        grid-row: 1 / 3;
        grid-column: 1 / 2;
    }
    &:nth-child(2) {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
    }
    &:nth-child(3) {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
    }
    &:nth-child(4) {
        grid-row: 2 / 4;
        grid-column: 2 / 3;
    }
}

.features__images-gallery-card-photo {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include objectFitCover();
}

.features__list-item {
    margin-bottom: 4.6rem;
    &:last-child {
        margin-bottom: 0;
    }
}

.features__card-title {
    font-weight: bold;
    font-size: 2.8rem;
    line-height: 120%;
    font-family: var(--nunito);
    margin-bottom: 2rem;
}

.features__card-text {
    font-size: 2.2rem;
    line-height: 3.1rem;
    color: #7a7a7a;
}
