.fullscreen-gallery {
    
    color: white;
    position: relative;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.9);
}

.fullscreen-gallery__bg-slider {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    visibility: hidden;

    .swiper-container {
        width: 100%;
        height: 100%;
    }

    .swiper-wrapper {
        height: 100%;
    }

    .swiper-slide {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}

.fullscreen-gallery__bg-slider-card {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(black, 0.2);
    }
}

.fullscreen-gallery__bg-slider-card-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.fullscreen-gallery__content {
    min-height: 100vh;
    padding: 10rem 0;
    display: flex;
    flex-direction: column;

    @include breakpoint(small-tablet) {
        padding: 20rem 0;
    }
}

.fullscreen-gallery__heading {
    margin-bottom: 5rem;
}

.fullscreen-gallery__categories {
    display: flex;
    align-items: center;
    margin-bottom: 6rem;
}

.fullscreen-gallery__categories-link {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 1.8rem 2.5rem;
    transition: background-color 0.2s, color 0.2s;
    color: white;
    margin-right: 2.5rem;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.9rem;
    border-radius: 3rem;
    &:last-child {
        margin-right: 0;
    }
    svg {
        height: 5.4rem;
        width: auto;
        flex-shrink: 0;
        fill: white;
        transition: fill 0.2s;
        margin-bottom: .7rem;
    }
    &:link,
    &:visited {
        color: white;
    }


    &.active {
        background-color: white;
        color: var(--text-color);

        svg {
            fill: var(--primary-color);
        }

        &:link,
        &:visited {
            color: var(--text-color);
        }
    }
}

.fullscreen-gallery__inner-slider {
    width: 100%;
    max-width: 84rem;
}

.fullscreen-gallery__bottom-row {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
}

.fullscreen-gallery__inner-slider-card {
    display: flex;
    flex-direction: column;
}

.fullscreen-gallery__inner-slider-card-category {
    font-size: 2.4rem;
    line-height: 3.6rem;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 1.2rem;
}

.fullscreen-gallery__inner-slider-card-text {
    font-size: 2.4rem;
    line-height: 4.3rem;
    margin-bottom: 3rem;
}

.fullscreen-gallery__inner-slider-card-link {
    align-self: flex-start;
}

.fullscreen-gallery__arrows {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-left: 5rem;
    align-self: flex-end;
}

.fullscreen-gallery__arrow {
    flex-shrink: 0;
    width: 7.4rem;
    height: 7.4rem;
    position: relative;
    border: 2px solid transparent;
    transition: border-color .2s, background-color .2s, color .2s, opacity .2s;
    border-radius: 2.5rem;
    margin-right: 2rem;
    &:last-child {
        margin-right: 0;
    }
    svg {
        fill: white;
        width: 1.5rem;
        height: 2.5rem;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &.swiper-button-disabled {
        pointer-events: none;
        opacity: 0;
    }

    .no-touch &:not(.swiper-button-disabled):hover {
        border-color: white;
    }
}
