.interior {
    padding-top: 12rem;
    padding-bottom: 10rem;
    position: relative;

    @include breakpoint(mobile) {
        padding-top: 3.2rem;
    }

    &::before {
        content: '';
        position: absolute;
        right: 2%;
        top: 12rem;
        background-image: url(/img/legato.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 53rem;
        width: 45rem;
        z-index: -1;
    }

    &__title {
        max-width: 71.6rem;

        @include breakpoint(mobile) {
            font-size: 26px;
        }
    }

    &__subtitle {
        font-size: 2.4rem;
        line-height: 3.6rem;
        color: var(--text-color);
        max-width: 88.6rem;
    }

    &__container {
        margin-top: 7.9rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 49rem 49rem;
        grid-column-gap: 5%;
        align-items: stretch;

        @include breakpoint(laptop) {
            grid-gap: 4rem;
        }

        @include breakpoint(tablet) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 49rem 49rem 49rem;
        }

        @include breakpoint(mobile) {
            margin-top: 2.6rem;
            grid-template-rows: 220px 220px 220px;
        }

    }

    &__item {
        position: relative;
        border-radius: 1.7rem;
        display: flex;
        transition: 0.5s;
        margin-bottom: 5.4rem;

        @include breakpoint(laptop) {
            margin-bottom: 4px;
        }

        &:nth-child(3n+3) {
            .interior__inner {
                right: 0;
            }
        }

        @include breakpoint(tablet) {
            &:nth-child(3n+3) {
                .interior__inner {
                    right: auto;
                }
            }

            &:nth-child(even) {
                .interior__inner {
                    right: 0;
                }
            }
        }

    }


    &__inner {
        padding: 4rem;
        overflow: hidden;
        position: absolute;
        width: 100%;
        height: 100%;
        // left: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        transition: 0.5s;

        &::after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: -1;
        }

        @include breakpoint(mobile) {
            padding: 1.2rem;
        }

        &-right {
            height: 100%;
        }

        &::before {
            content: '';
            position: absolute;
            left: -20rem;
            bottom: -20rem;
            background-color: #fff;
            border-radius: 100%;
            width: 40rem;
            height: 40rem;
            z-index: 0;

            @include breakpoint(mobile) {
                width: 25rem;
                height: 25rem;
                left: -11rem;
                bottom: -14rem;
            }
        }

        &>img {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
            border-radius: 1.7rem;
            object-fit: cover;
            transition: 0.5s;
        }

        &>h4 {
            position: relative;
            font-weight: 700;
            font-size: 2.8rem;
            line-height: 3.4rem;
            transition: 1s;

            @include breakpoint(mobile) {
                font-size: 12px;
                line-height: 14px;
            }

        }

        &>p {
            position: relative;
            font-weight: 400;
            font-size: 2.4rem;
            line-height: 3.6rem;
            color: var(--text-color);
            transition: 0.5s;
            opacity: 0;
            transition: opacity 0.5s, all 0s;
            max-height: 0;

            @include breakpoint(mobile) {
                font-size: 12px;
                line-height: 16px;
            }
        }
    }

    &__btn {
        position: absolute;
        right: 4rem;
        top: 4rem;
        max-width: 6.6rem;
        max-height: 6.6rem;
        background-color: var(--primary-color);
        padding: 2rem;
        border-radius: 100%;
        transition: 0.4s;

        @include breakpoint(mobile) {
            right: 2rem;
            top: 2rem;
        }

        &>svg {
            fill: #fff;
            width: 2.2rem;
            height: 2.2rem;
            transition: 0.4s;
        }
    }

}

.active {
    .interior__item {
        overflow: visible;
    }

    .interior__inner {
        box-sizing: content-box;
        width: calc(200% + 1%);
        height: 84%;
        overflow: visible;
        z-index: 4;
        position: absolute;
        justify-content: space-between;
        transition: width 0.3s, all 0.3s;

        &::after {
            background-color: rgba($color: #fff, $alpha: 0.5);
            left: 0;
            top: 0;
        }

        @include breakpoint(laptop) {
            width: calc(200% - 7%);
        }

        @include breakpoint(mobile) {
            width: calc(200% - -6%);
            height: 93%;
        }

        @include breakpoint(mobile) {}

        &::before {
            display: none;
        }

        &>h4 {
            z-index: 5;
            position: relative;
            margin-top: 1.6rem;
            transition: 0.3s;
            max-width: 60rem;

            @include breakpoint(mobile) {
                max-width: 50%;
            }
        }

        &>p {
            // margin-top: 14rem;
            opacity: 1;
            // transition-delay: opacity 1s;
            transition: opacity 0.5s, all 0.3s;
            max-height: min-content;
        }
    }

    .interior__btn {
        transition: 0.4s;
        z-index: 77;

        &>svg {
            transform: rotate(45deg);
            transition: 0.4s;
        }
    }
}