.menu {
    display: none;

    @include breakpoint(small-tablet) {
        justify-content: space-between;
        flex-direction: column;
        display: flex;
        width: 32px;
        height: 10px;
        cursor: pointer;

        span {
            width: 32px;
            height: 2px;
            background-color: #fff;
            display: block;
            transition: 0.3s;
            cursor: pointer;
            transition: background-color .2s;
            .page-header.fixed & {
                background-color: var(--text-color);
            }
        }

        &:hover {
            span {
                transform: rotateY(45deg);
                transition: 0.3s;
            }
        }
    }
}