.section-heading {
    font-weight: bold;
    font-size: 4.6rem;
    line-height: 5.4rem;
    margin-bottom: 3.8rem;

    @include breakpoint(mobile) {
        font-size: 26px;
        line-height: 32px;
    }

    @include breakpoint(supersmall-mobile) {
        font-size: 23px;
        line-height: 28px;
    }
}