.thickness {
    padding: 10rem 0;
}

.thickness__heading {
    max-width: 73rem;
    margin-bottom: 6rem;
}

.thickness__list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-column-gap: 8rem;
    grid-row-gap: 4rem;
}

.thickness__list-item {
    display: flex;
    flex-direction: column;
}

.thickness__card {
    display: flex;
    flex-direction: column;
}

.thickness__card-icon {
    height: 11rem;
    width: auto;
    flex-shrink: 0;
    max-width: 100%;
    object-fit: contain;
    object-position: left center;
    margin-bottom: 3.5rem;
}

.thickness__card-title {
    font-weight: bold;
    font-size: 2.8rem;
    line-height: 120%;
    font-family: var(--nunito);
    margin-bottom: 3rem;
}

.thickness__card-text {
    font-size: 2.2rem;
    line-height: 3.6rem;
    margin-bottom: 6rem;
    color: #7a7a7a;
}

.thickness__card-price {
    margin-top: auto;

}

.thickness__card-price-title {
    font-weight: bold;
    font-size: 2.8rem;
    font-family: var(--nunito);
    line-height: 130%;
}

.thickness__card-price-amount {
    font-weight: bold;
    font-size: 4rem;
    line-height: 130%;
    color: var(--primary-color);
    font-family: var(--nunito);
}
